/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Basics
--------------------------------------------------------------*/
::selection {
  background: #1d1d27; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #1d1d27; /* Gecko Browsers */
  color: #fff;
}
body {
	overflow-x: hidden;
	background: #1d1d27;
}
html {
	overflow-y: scroll;
	overflow-x: hidden;
}
ul li {
	list-style-type: none;
}
header, section {
	position: relative;
}
a, button {
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
a:hover, a:focus, a:visited, a:active {
	text-decoration: none !important;
	outline: none !important;
}
.double-margin {
	margin-right: -30px;
	margin-left: -30px;
}
.double-padding {
	padding-right: 30px;
	padding-left: 30px;
}
.no-padding-right {
	padding-right: 0;
}
.no-padding-left {
	padding-left: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
font-family: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Noto, Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
font-family: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Noto, Helvetica, Arial, sans-serif;
	font-weight: 400;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
	position: relative;
	min-height: 200px;
	text-align: center;
	color: #fff;
	padding: 90px 0;
	background:#3b27cd;
}
header h1 {
	font-size: 3em;
	margin: 0;
	line-height: 1;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}
header h1 span {
	color: #fff;
font-family: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Noto, Helvetica, Arial, sans-serif;
}
header h3 {
	font-size: 1em;
	line-height: 1;
	letter-spacing: 1px;
	margin: 5px 0 0 0;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
header h5 {
	font-size: 0.9em;
	line-height: 1;
	letter-spacing: 1px;
	margin: 5px 0 0 0;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
}
header h3 span {
	border-bottom: 5px solid #f9f9f9;
}

/*--------------------------------------------------------------
# Content Section
--------------------------------------------------------------*/
.content-section {
	position: relative;
	padding: 30px 0;
}
.content-section .container {
	max-width: 1000px;
}

/*--------------------------------------------------------------
# Isotope
--------------------------------------------------------------*/
.show-more-button-wrapper {
	margin: 80px 0 200px 0;
}
#load-more{
	display: table;
	margin: 30px auto 0 auto;
}
.hidden{
	visibility:hidden;
	width:0px!important;
	height:0px!important;
	margin:0px!important;
	padding:0px!important;
}

button#load-more, .button {
	padding: 0.5em 1.0em;
	background: #f3f3f3;
	border: 3px solid #f3f3f3;
	width: 100%;
	border-radius: 7px;
	background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
	color: #333;
font-family: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Noto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-shadow: 0 1px white;
	text-transform: uppercase;
	font-size: 1.4em;
	cursor: pointer;
}

button#load-more:hover, .button:hover {
  background-color: #333;
  border: 3px solid #f3f3f3;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

button#load-more:active,
button#load-more.is-checked {
  background-color: #ccc;
}

button#load-more.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

button#load-more:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

button#load-more-group:after {
  content: '';
  display: block;
  clear: both;
}

button#load-more-group button#load-more {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

button#load-more-group button#load-more:first-child { border-radius: 0.5em 0 0 0.5em; }
button#load-more-group button#load-more:last-child { border-radius: 0 0.5em 0.5em 0; }

.isotope {
  border: 1px solid #333;
}

.isotope:after {
  content: '';
  display: block;
  clear: both;
}
.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
.game-search-wrapper {
	position: relative;
	margin: 0 0 20px 0;
}
.game-search-wrapper h3 {
	font-size: 0.7em;
	text-align: center;
	margin: 0 0 20px 0;
}
.game-search-wrapper h3 span {
	color: #333;
}
.input-icon-wrapper {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
}
.input-icon {
	position: absolute;
	font-size: 1.5em;
	color: #636369;
	left: 23px;
	top: 16px;
}
.input-style {
	height: 50px;
	font-size: 0.5em;
	color: #fff;
	width: 100%;
	padding: 0 20px 3px 60px;
	border: none;
	box-shadow: none;
	background: #15151e;
	border-radius: 20px;
}
.input-style::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #636369;
	opacity: 0.9;
	font-size: 0.8em;
}
.input-style::-moz-placeholder { /* Firefox 19+ */
	color: #636369;
	opacity: 0.9;
	font-size: 0.8em;
}
.input-style:-ms-input-placeholder { /* IE 10+ */
	color: #636369;
	opacity: 0.9;
	font-size: 0.8em;
}
.input-style:-moz-placeholder { /* Firefox 18- */
	color: #636369;
	opacity: 0.9;
	font-size: 0.8em;
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.games-grid {
	position: relative;
	margin: 0 -15px;
	
}
.grid-item {
	cursor: pointer;
	margin-top: 20px;
}
.grid-item img {
	border-radius: 10px;
	max-width: 100%;
	border: 2px solid #1d1d27;
}
.grid-item h4 {
	font-size: 0.9em;
	margin: 0 0 0 0;
font-family: Roboto, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, Noto, Helvetica, Arial, sans-serif;
	text-align: center;
	color: #fff;
}
.grid-item-inner {
	position: relative;
	overflow: hidden;
}
.grid-item-info {
	font-size: 1.2em;
	margin-top: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px 10px;
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.grid-item:hover .grid-item-info {
	padding: 40px 10px;
}
.generes-wrapper {
	position: relative;
	display: table;
	margin: 0 auto;
}
.genere-tag {
	text-transform: uppercase;
	font-size: 8px;
	border: 1px solid #ff6028;
	padding: 4px;
	display: inline-block;
	color: #fff;
	border-radius: 7px;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar-item {
	margin-top: 30px;
}
.additional-sidebar-item {
	margin-top: 50px;
}
.sidebar-title h4 {
	font-size: 1.7em;
	color: #fff;
}
.sidebar-title h4:after {
	content: '';
	height: 5px;
	width: 60px;
	position: relative;
	display: block;
	background: #ff6028;
	margin: 8px 0 15px 0;
}
.sidebar-item-content-wrapper {
	position: relative;
	margin-bottom: 15px;
}
.sidebar-content {
	background: #111;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}
.sidebar-content .generes-wrapper { 
	margin: 0;
}
.sidebar-content img {
	position: relative;
}
.sidebar-content h5 {
	font-size: 0.9em;
	margin: 12px 0 0 0;
	color: #fff;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
	margin-top: 120px;
	text-align: center;
	padding: 5px 0 0 0;
	color: rgba(255, 255, 255, 0.25);
	font-size: 0.4em;
	position: relative;
	z-index: 10;
}
footer .copyright-notice  {
	margin-top: 3px;
}
footer .copyright-notice span {
	display: block;
	margin-top: 3px;
}
footer a {
	color: rgba(255, 255, 255, 0.5);
}
footer a:hover {
	color:  rgba(255, 255, 255, 1);
}
.f-n-l:after {
	display: inline-block;
	content: '|';
	margin: 0 3px;
	position: relative;
	color: rgba(0,0,0,0.2);
}
.f-n-l:last-child:after {
	display: none;
}

/*--------------------------------------------------------------
# Footer Popups
--------------------------------------------------------------*/
.footer-popup-wrapper {
    width: 500px;
	margin: 0 auto;
	position: relative;
}
.footer-popup-title-wrapper {
	position: absolute;
	width: 100%;
	left: 0;
	top: -10px;
	
}
.footer-popup-wrapper h1 {
	margin: 0 0 20px 0;
	background: #ff6028;
	width: 300px;
	height: 80px;
	text-align: center;
	font-size: 1.6em;
	position: relative;
	z-index: 5;
	padding: 22px 10px;
	margin: 0 auto;
	color: #e0e0e0;
	top: -30px;
}
.footer-popup-inner-wrapper {
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -ms-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    position: relative;
    -webkit-box-shadow: 0 0 2px 0 #868686;
    -moz-box-shadow: 0 0 2px 0 #868686;
    box-shadow: 0 0 2px 0 #868686;
    text-align: center;
    border: 1px solid #000;
    background: #222;
	height: 450px;
	margin: 0 auto;
	padding: 50px  50px 30px 50px;
	overflow-y: scroll;
	position: relative;
	font-size: 0.7em;
}
.contact-form-wrapper {
	overflow-y: hidden;
}
.footer-popup-wrapper h2 {
	font-size: 1.4em;
	margin: 20px 0 5px 0;
	color: #e0e0e0;
}
.footer-popup-wrapper p {
	color: #e0e0e0;
	font-size: 0.9em;
	text-align: justify;
	text-align-last: left;
	-moz-text-align-last: left;
}
.footer-popup-wrapper .input-style {
	background: #e0e0e0;
	height: 45px;
	padding: 0 15px;
	border-radius: 0;
	border: none;
	color: #000;
}
.footer-popup-wrapper textarea.input-style {
	height: auto;
	padding: 10px 15px;	
}
.footer-popup-wrapper label {
	font-size: 0.9em;
	font-weight: 300;
	text-align: center;
	display: block;
	margin: 0;
	color: #e0e0e0;
}
#msgSubmit {
	margin-top: 5px;
	font-size: 1em;
}
.footer-popup-wrapper .mfp-close {
	position: absolute;
	right: -35px;
	top: -35px;
	cursor: pointer;
	display: block;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	display: block;
	line-height: 1;
	font-family: 'BurbankBigCondensed-Bold';
	color: #e0e0e0;
	font-size: 2.4em;
}
.help-block.with-errors {
	font-size: 0.8em;
	color: red;
}
.help-block.with-errors ul {
	margin: 0;
}

/*--------------------------------------------------------------
# Responsive Design
--------------------------------------------------------------*/
@media screen and (max-width: 993px) { 
	header h1 {
		font-size: 5.5em;
	}
	header h2 {
		font-size: 2.4em;
	}
}
@media screen and (max-width:767px) { 
	header {
		min-height: auto;
	}
	header h1 {
		font-size: 4.5em;
	}
	header h2 {
		font-size: 2.1em;
	}
	.game-search-wrapper h3 {
		font-size: 2.4em;
	}
	.content-section {
		padding: 60px 0;
	}
}
@media screen and (max-width:550px) { 
	header {
		min-height: auto;
	}
	header h1 {
		font-size: 3.4em;
	}
	header h2 {
		font-size: 1.6em;
	}
	.game-search-wrapper h3 {
		font-size: 1.8em;
	}
	.content-section {
		padding: 10px 0;
	}
	.input-style {
		font-size: 1.6em;
	}
	.grid-item h4 {
		font-size: 0.8em;
	}
	.sidebar-title h4 {
		font-size: 1.6em;
	}
	.generes-wrapper {
		text-align: center;
	}
	.genere-tag {
		font-size: 7px;
		border: 1px solid #ff6028;
		padding: 5px 4px;
		display: inline-block;
	}
	.generes-wrapper {
		line-height: 0.5;
	}
}
@media screen and (max-width:390px) { 
	header {
		padding: 60px 0;
	}
	header h1 {
		font-size: 3em;
	}
	header h2 {
		font-size: 1.4em;
	}
	.game-search-wrapper h3 {
		font-size: 1.4em;
	}
	.input-style {
		font-size: 1.4em;
	}
	.grid-item h4 {
		font-size: 0.7em;
	}
	.generes-wrapper {
		text-align: center;
	}
	.genere-tag {
		font-size: 6px;
		border: 1px solid #ff6028;
		padding: 5px 3px;
	}
	.grid-item:hover .grid-item-info {
		padding: 20px 10px;
	}
	.sidebar-title h4 {
		font-size: 1.4em;
	}
	.sidebar-content h5 {
		margin: 5px 0 0 0;
	}
}
@media screen and (max-width:360px) { 
	header {
		padding: 40px 0;
	}
	header h1 {
		font-size: 2.4em;
	}
	header h2 {
		font-size: 1.2em;
	}
}